.root {
  margin-bottom: 16px;
}

.preview {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 12px;
}

.header {
  display: flex;
  align-items: center;
  gap: 16px;
}

.heading {
  flex: 1;
  min-width: 0;

  > :global(.ant-divider) {
    margin: 0;
    white-space: nowrap;
  }
}

.action {
  flex-shrink: 0;
  margin-inline-start: auto;
}