{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="add__product__wrapper">
                    <h1 class="main__title">Добавить продукт</h1>
                    <form id="multi-step-form">

                        <!-- Этап 1 -->
                        <div class="step active" id="step-1">
                            <h2 class="pb-5">Шаг 1: Заголовки</h2>

                            <div class="d-flex flex-column align-items-start mb-3 me-3">
                                <label for="projects">Выберите категории</label>
                                <select id="projects" name="categories" multiple class="form-select">
                                    {% for project in projects %}
                                        <option value="{{ project.id }}">{{ project.project_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="d-flex flex-column me-3">
                                <label for="possible__combinations">Возможных комбинаций</label>
                                <input type="number" id="possible__combinations" value="0">
                            </div>

                            <input id="tag-input" class="tag-input" type="text"
                                   placeholder="Введите заголовок и нажмите Enter">
                            <div id="tag-container" class="tag-container">
                                <!-- Теги будут добавляться сюда -->
                            </div>
                            <div class="container">
                                <div class="row ">
                                    <div class="col-6 p-0" style="color: #fff">


                                    </div>
                                    <div class="col-6">

                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Этап 2 -->
                        <div class="step" id="step-2">
                            <h2 class="pb-5">Шаг 2: Изображения</h2>
                            <div class="container">
                                <div class="row">
                                    <div class="col-6 p-0 pe-3">
                                        <div id="main-images-container" class="image-upload-container">
                                            <h3>Главные изображения</h3>
                                            <div id="main-images-dropzone" class="dropzone">Перетащите изображения сюда
                                                или нажмите,
                                                чтобы выбрать
                                            </div>
                                            <div id="main-images-thumbnails" class="thumbnails"></div>
                                        </div>
                                    </div>
                                    <div class="col-6 p-0 ps-3 ">
                                        <div id="additional-images-container" class="image-upload-container">
                                            <h3>Дополнительные изображения</h3>
                                            <div id="additional-images-dropzone" class="dropzone">Перетащите изображения
                                                сюда или
                                                нажмите, чтобы выбрать
                                            </div>
                                            <div id="additional-images-thumbnails" class="thumbnails"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>


                        </div>

                        <!-- Этап 3 -->
                        <div class="step" id="step-3">
                            <h2 class="pb-5">Шаг 3: Описания</h2>
                            <div class="accordion" id="description-accordion">
                                <!-- Вкладки будут добавляться сюда -->
                            </div>
                            <button type="button" id="add-description-btn" class="btn btn-primary mt-3">Добавить
                                описание
                            </button>
                        </div>

                        <!-- Этап 4 -->
                        <div class="step" id="step-4">
                            <h2 class="pb-5">Шаг 4: Адреса</h2>
                            <textarea id="addresses" class="address"
                                      placeholder="Введите каждый адрес с новой строки"></textarea>
                        </div>

                        <!-- Этап 5 -->
                        <div class="step" id="step-5">
                            <h2 class="pb-5">Шаг 5: Опции товара</h2>
                            <div class="container">
                                <div class="row">
                                    <div class="col-6 p-0 d-flex flex-column" style="color: #fff">
                                        <h2>Работа с ценой</h2>
                                        <div class="price-switcher d-flex flex-column mb-3">
                                            <label for="price-type">Тип цены</label>
                                            <select id="price-type" class="form-select">
                                                <option value="static">Статическая цена</option>
                                                <option value="dynamic">Динамическая цена</option>
                                            </select>
                                        </div>

                                        <div id="price-static"
                                             class="price__fix flex-column align-items-start mb-3">
                                            <label for="price__fix">Цена в объявлении</label>
                                            <input type="number" id="price__fix" value="0">
                                        </div>

                                        <div id="price-dynamic"
                                             class="price__float flex-column align-items-start"
                                             style="display: none;">
                                            <div class="d-flex flex-row flex-wrap mb-3">
                                                <div class="d-flex flex-column me-3">
                                                    <label for="price__min">Минимальная цена</label>
                                                    <input type="number" id="price__min" value="0">
                                                </div>
                                                <div class="d-flex flex-column me-3">
                                                    <label for="price__max">Максимальная цена</label>
                                                    <input type="number" id="price__max" value="0">
                                                </div>
                                                <div class="d-flex flex-column">
                                                    <label for="price__step">Шаг цены</label>
                                                    <input type="number" id="price__step" value="0">
                                                </div>
                                            </div>
                                        </div>

                                        <span class="separator"></span>

                                        <h2 class="pt-3">Cтандартный опции</h2>
                                        <div class="d-flex flex-row flex-wrap">
                                            <div class="d-flex flex-column align-items-start mb-3 me-3">
                                                <label for="category">Категория</label>
                                                <input type="text" id="category" name="category">
                                            </div>
                                            <div class="d-flex flex-column align-items-start mb-3 me-3">
                                                <label for="listingfee">Стратегия размещения</label>
                                                <input type="text" id="listingfee" name="listingfee">
                                            </div>

                                            <div class="d-flex flex-column align-items-start mb-3">
                                                <label for="email">E-mail</label>
                                                <input type="email" id="email" name="email">
                                            </div>

                                            <div class="d-flex flex-column align-items-start mb-3 me-3">
                                                <label for="contactphone">Телефон</label>
                                                <input type="number" id="contactphone" name="contactphone">
                                            </div>
                                            <div class="d-flex flex-column align-items-start mb-3">
                                                <label for="managername">Имя менеджера</label>
                                                <input type="text" id="managername" name="managername">
                                            </div>
                                            <div class="d-flex flex-column align-items-start mb-3 me-3">
                                                <label for="avitostatus">Статус</label>
                                                <input type="text" id="avitostatus" name="avitostatus">
                                            </div>
                                            <div class="d-flex flex-column align-items-start mb-3 ">
                                                <label for="companyname">Название компании</label>
                                                <input type="text" id="companyname" name="companyname">
                                            </div>
                                            <div class="d-flex flex-column align-items-start mb-3 me-3">
                                                <label for="contactmethod">Связаться</label>
                                                <input type="text" id="contactmethod" name="contactmethod">
                                            </div>
                                            <div class="d-flex flex-column align-items-start mb-3">
                                                <label for="adtype">Вид объявления</label>
                                                <input type="text" id="adtype" name="adtype">
                                            </div>
                                            <div class="d-flex flex-column align-items-start mb-3">
                                                <label for="availability">Наличие</label>
                                                <input type="text" id="availability" name="availability">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 p-0">
                                        <h2 class="">Обязательные значения</h2>
                                        <div id="options-container">
                                            <!-- Список выбранных опций будет добавляться сюда -->
                                        </div>
                                        <button type="button" id="add-option-btn" class="btn btn-primary mt-3">
                                            Добавить опцию
                                        </button>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <!-- Этап 6 -->
                        <div class="step" id="step-6">
                            <h2 class="pb-5">Шаг 6: Расписание</h2>
                            <div class="schedule-container">
                                <table>
                                    <thead>
                                    <tr>
                                        <th>День недели</th>
                                        <th>Время</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for day in days %}
                                        <tr>
                                            <td>{{ day }}</td>
                                            <td>
                                                <input type="time" name="schedule[{{ day }}]"/>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>


                        <!-- Навигация -->
                        <div class="button-container">
                            <button type="button" id="prev-btn" disabled>Назад</button>
                            <button type="button" id="next-btn">Далее</button>
                            <button type="button" id="submit-btn" style="display: none;">Сохранить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div>

    <script src="{% static 'js/tasks_add.js' %}"></script>
    <script src="https://cdn.tiny.cloud/1/yqlhvg2vyiipkl8rrsd93gbyako7r1hroor149rozimqhn34/tinymce/7/tinymce.min.js"
            referrerpolicy="origin"></script>

{% endblock %}